# Ignore virtual environment
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyc

# VSCode / IDE files
.vscode/
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
# Logs
*.log

